{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tv Show Details</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'resources/D moviesand tv show.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'movien/style.css' %}">
</head>
<style>
  .body.light .light_darkmode {
      background-image: url({% static 'resources/icon-moon.svg' %});
      background-color: #004cff4a;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  box-shadow: var(--shadow);
  background-blend-mode: luminosity;
  }

  .light_darkmode {
      background-image: url({% static 'resources/icon-sun.svg' %});
      background-color: black;
      width: 35px;
      background-repeat: no-repeat;
      height: 32px;
      background-position: center;
      background-size: 18px;
      border-radius: 10px;
      background-color: rgb(87 88 92 / 54%);
      background-color: #3b3e5e;
      position: absolute;
      margin-left: 87%;
      transition-duration: 0.5s;
      transition-timing-function: linear;
  }
  
</style>
<body class="body">
    <main class="main">
        <div class=" overlay overlay2"></div>
        <div class="overlay_side_navabar"></div>
        <div class="sidenav_container_movieDetail">
            <div class="sidenav_child_container">
                <nav class="sidenav sidenav_2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#ffff"
                        class="arrow_left bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    <h3 class="title"><img style="height: 75px; width: 190px;" src="{% static 'resources/logo1.png' %}"></h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor"
                        class="hamburger bi-list" viewBox="0 0 16 16">
                        <path class="pathh pathhphone" fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <div class="menu">
                        <h4 class="menu_title">Menu</h4>
                        <ul class="menu_ul">
                          <li class="home">
                            <a class="sidenavlinks" href="{% url 'movien-index' %}"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="22" height="22" fill="currentColor" class="bi bi-house-fill"
                                    viewBox="0 0 16 16">
                                    <path class="path" fill-rule="evenodd"
                                        d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                    <path class="path" fill-rule="evenodd"
                                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                </svg><span class="Home_title title_span">Home</span></a>
                        </li>
                        <li class="movie">
                            <a class="sidenavlinks" href="{% url 'movien-moviesGenre' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path class="path"
                                        d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                                </svg>
                                <span class="movie_name title_span">Movies</span></a>
                        </li>
                        <li class="tv_shows">
                            <a class="sidenavlinks" href="{% url 'movien-tvShows' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-tv-fill" viewBox="0 0 16 16">
                                    <path class="path"
                                        d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM2 2h12s2 0 2 2v6s0 2-2 2H2s-2 0-2-2V4s0-2 2-2z" />
                                </svg>
                                <span class="tv_shows_title title_span">Shows</span></a>
                        </li>
                        <li class="playlist">
                          <a class="sidenavlinks" href="{% url 'allMovies' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                              <path class="path" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                              <path class="path" d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                            </svg>
                          <span class="settings_title title_span">Playlist</span></a>
                      </li>
                        <li class="watchlist">
                          <a class="sidenavlinks" href="{% url 'bucketlist' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                              <path class="path" d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                            </svg>
                          <span class="settings_title title_span">Watchlist</span></a>
                      </li>
                        <li class="settings">
                            <a class="sidenavlinks" href="{% url 'movien-aboutus' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-info-square-fill" viewBox="0 0 16 16">
                                    <path class="path"
                                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg><span class="settings_title title_span">About</span></a>
                        </li>
                        
                        <li class="logout">
                            <a class="sidenavlinks" href="{% url 'logout' %}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path class="path"
                                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                              </svg>
                            <span class="settings_title title_span">Logout</span></a>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <section class="section_one section_one_movieDetail">
            <div class="nav_paremt_conatainer movieDetailnav_paremt_conatainer">
                <nav class="navContainer movieDetailnavContainer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor"
                        class="hamburger hamburgerphone bi-list" viewBox="0 0 16 16">
                        <path class="pathh" fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <input class="search" type="text" placeholder="Search ">
                    <div class="light_darkmode"></div>
                </nav>
            </div>
            <section class="section_two section_two2">
                <div class="posterbig"></div>
                <div class="poster_big">
                    <div class="gradient"></div>
                    <div class="line"></div>
                </div>
                <section class="movie_details">

                </section>
                <section class="section_story">
                </section>
                <section class="Trailer_section">
                </section>
                <section
                    class=" Now_playing_movies_container Now_playing_movies_container_movieDetail movie_caste_container "
                    id="cast_con">
                    <h4 class="Now_playing_movies_container_title">Cast</h4>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="leftarrow arrowbtn bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="rightarrow arrowbtn bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                    <div class="Casdiv">
                    </div>
                </section>

                <section
                    class=" Now_playing_movies_container Now_playing_movies_container_movieDetail similar_movies_container"
                    id="Similarovie">
                    <h4 class="Now_playing_movies_container_title">Similar shows</h4>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="leftarrow arrowbtn bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="rightarrow arrowbtn bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                    <div class="Now_playing_movies_div Now_playing_movies_div_movieDetail Similar_movies_div">
                    </div>
                </section>
                <section
                    class=" Now_playing_movies_container Now_playing_movies_container_movieDetail reccomendation movie "
                    id="recommenn">
                    <h4 class="Now_playing_movies_container_title">Recommendation</h4>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="leftarrow arrowbtn bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="rightarrow arrowbtn bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                    <div
                        class="Now_playing_movies_div Now_playing_movies_div_movieDetail recommendation_movies_div reccomendation_tvshow">
                    </div>
                </section>
            </section>
        </section>

    </main>

    <script>
        const posterBig = document.querySelector(".poster_big");
const movieDetailnavContainer = document.querySelector(
  ".movieDetailnavContainer"
);
const gradient = document.querySelector(".gradient");
const posterBigImg = document.querySelector(".poster_big_img");
const posterBBig = document.querySelector(".posterbig");
const arrowLeft = document.querySelector(".arrow_left");
const hamburger = document.querySelector(".hamburger");
const NowPlayingMoviesDiv = document.querySelector(".Now_playing_movies_div");
const leftArrow = document.querySelectorAll(".leftarrow");
const rightarrow = document.querySelectorAll(".rightarrow");
const lightDarkmode = document.querySelector(".light_darkmode");
const movieDetails = document.querySelector(".movie_details");
const sectionStory = document.querySelector(".section_story");
const movieDetailsAboutCategoryUl = document.querySelector(
  ".movie_details_about_category_ul"
);
const hamburgerPhone = document.querySelector(".hamburgerphone");
const sidenavChildContainer = document.querySelector(
  ".sidenav_child_container"
);
const overlaySideNavabar = document.querySelector(".overlay_side_navabar");
const sidenav = document.querySelector(".sidenav");
const searchbox = document.querySelector(".search");
const recommendationMoviesDiv = document.querySelector(
  ".recommendation_movies_div"
);
const SimilarMoviesDiv = document.querySelector(".Similar_movies_div");
const Casdiv = document.querySelector(".Casdiv");
const menuulLI = document.querySelectorAll(".menu_ul li");
const Trailer_section = document.querySelector(".Trailer_section");

hamburgerPhone.addEventListener("click", function () {
  sidenavChildContainer.classList.add("sidenav_container_active");
  overlaySideNavabar.classList.add("sidenav_container_active");
  hamburgerPhone.classList.add("hamburgerphonedeactive");
});
overlaySideNavabar.addEventListener("click", function () {
  sidenavChildContainer.classList.remove("sidenav_container_active");
  overlaySideNavabar.classList.remove("sidenav_container_active");
  document.body.classList.remove("minimize_siderbar");
  hamburgerPhone.classList.remove("hamburgerphonedeactive");
});

window.addEventListener("scroll", function () {
  let intiCon = posterBBig.getBoundingClientRect();
  if (window.scrollY > intiCon.height - 150) {
    movieDetailnavContainer.classList.add("bgadd");
  } else {
    movieDetailnavContainer.classList.remove("bgadd");
  }
});

lightDarkmode.addEventListener("click", function () {
  document.body.classList.toggle("light");

  if (document.body.classList.contains(`light`)) {
    localStorage.setItem(`theme`, `light`);
  } else {
    localStorage.setItem(`theme`, `dark`);
  }
});

function settheme() {
  let currtheme = localStorage.getItem("theme");
  if (currtheme == "light") {
    document.body.classList.add("light");
  } else {
    document.body.classList.remove("light");
  }
}

settheme();

menuulLI.forEach((item) => {
  item.addEventListener("click", function () {
    menuulLI.forEach((i) => i.classList.remove("hovered"));
    item.classList.add("hovered");
  });
});
menuulLI[2].classList.add("hovered");

arrowLeft.addEventListener("click", function () {
  document.body.classList.remove("minimize_siderbar");
});

hamburger.addEventListener("click", function () {
  document.body.classList.add("minimize_siderbar");
});

const myApi = "6b2dec73b6697866a50cdaef60ccffcb";

const Sidescroll = function (element, direction, speed, distance, step) {
  scrollAmount = 0;
  let slideTimer = setInterval(function () {
    if (direction == "left") {
      element.scrollLeft -= step;
    } else {
      element.scrollLeft += step;
    }
    scrollAmount += step;
    if (scrollAmount >= distance) {
      window.clearInterval(slideTimer);
    }
  }, speed);
};

leftArrow.forEach((item) =>
  item.addEventListener("click", function () {
    if (item.parentElement.id == "nowplayin") {
      Sidescroll(NowPlayingMoviesDiv, "left", 2, 500, 15);
    }
    if (item.parentElement.id == "recommenn") {
      Sidescroll(recommendationMoviesDiv, "left", 2, 500, 15);
    }
    if (item.parentElement.id == "Similarovie") {
      Sidescroll(SimilarMoviesDiv, "left", 2, 500, 15);
    }
    if (item.parentElement.id == "cast_con") {
      Sidescroll(Casdiv, "left", 2, 500, 15);
    }
  })
);

rightarrow.forEach((item) =>
  item.addEventListener("click", function () {
    if (item.parentElement.id == "nowplayin") {
      Sidescroll(NowPlayingMoviesDiv, "right", 2, 500, 15);
    }
    if (item.parentElement.id == "recommenn") {
      Sidescroll(recommendationMoviesDiv, "right", 2, 500, 15);
    }
    if (item.parentElement.id == "Similarovie") {
      Sidescroll(SimilarMoviesDiv, "right", 2, 500, 15);
    }
    if (item.parentElement.id == "cast_con") {
      Sidescroll(Casdiv, "right", 2, 500, 15);
    }
  })
);

const dateFormatter = function (date) {
  let currdate = date;
  let newDate = currdate.slice(0, 4);
  return newDate;
};

const averagVoteformat = function (receivedVote) {
  let currVote = receivedVote.toString();
  const newVote = currVote.slice(0, 3);
  return newVote;
};

const Castfun = (castee) => {
  let url = "{% url 'movien-personDetail' %}?id=" + encodeURIComponent(castee.id);
  return `<div class="Now_playing_movies castdiv" >
    <a class="posterlink" href="${url}"> <img class="poster" data-id="${castee.id}" src="https://image.tmdb.org/t/p/w500/${castee.profile_path}" loading="lazy" 
        onerror="this.onerror=null;this.src='./resources/D moviesand tv show.png';"
        alt="${castee.original_name}"></a>
        <div class="name_character_container">
         <p class="movie_title">${castee.original_name}</p>
         <div class="date_rating casteecharacter" >
         ${castee.character}
             </div>
             </div>
         </div>`;
};

const Trailerfunc = function (id) {
  return `<iframe class="youtubePlayer" src="https://autoembed.to/trailer/tv/${id}" width="100%" height="100%" loading="lazy"  frameborder="0" allowfullscreen></iframe>`;
};

/*  CLCIKED*/

const html2 = function (tvshow) {
  let url = `{% url 'movien-SeasonEpisode' %}?/Z${+encodeURIComponent(
    tvshow.number_of_seasons
  )}-id=${+encodeURIComponent(tvshow.id)}`;
  document.title = `${
    tvshow.name +
    " " +
    "(" +
    dateFormatter(tvshow.first_air_date) +
    ")" +
    " " +
    "|" +
    " " +
    "Cinemaa"
  }`;

  let cate = "";
  tvshow.genres.forEach((item) => {
    cate += `<li class="movie_details_category_ul_li">${item.name}</li>`;
  });
  return `<div class="movie_details">
    <img class="movie_details_poster" src="https://image.tmdb.org/t/p/w500/${
      tvshow.poster_path
    }" alt="title">
    <div class="movie_details_about">
        <h2 class="movie_details_title">${tvshow.name}</h2>
        <div class="movie_details_about_category">
            <ul class="movie_details_about_category_ul">
            ${cate}
            </ul>
        </div>
        <div class="date_rating tvshowdetail_date_rating">
            <p class="time">${
              tvshow.number_of_seasons
            } Seasons</p><span class="dot dot2 dot3"></span>
            <p class="time">${
              tvshow.episode_run_time[0]
            } minutes per episode</p><span class="dot dot2 dot3"></span>
            <p class="time">${
              tvshow.status
            }</p><span class="dot dot2 dot3"></span>
            <p class="date">${dateFormatter(
              tvshow.first_air_date
            )} - ${dateFormatter(
    tvshow.last_air_date
  )}</p><span class="dot dot2 dot3"></span>
            <p class="rating">${averagVoteformat(
              tvshow.vote_average
            )}<span><svg xmlns="http://www.w3.org/2000/svg" width="10"
                        height="10" fill="Yellow" class="star bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg></span></p>
        </div>
        <a class="playLink" href="${url}"><button class="play_btn"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                fill="currentColor" class="path_btn bi-play-fill" viewBox="0 0 16 16">
                <path class="path_btnn"
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z">
                </path>
            </svg>seasons</button></a> 
    </div>

</div> `;
};

const Bigposter = function (movieee) {
  return `<img class="poster_big_img" src="https://image.tmdb.org/t/p/original/${movieee.backdrop_path}" alt="">`;
};

const CurrTvshow = async (id) => {
  const res = await fetch(
    `https://api.themoviedb.org/3/tv/${id}?api_key=${myApi}&append_to_response=credits,recommendations,similar`
  );
  const data = await res.json();
  return data;
};

let url = document.location.href;
let fetcid = url.slice(url.indexOf("=") + 1);
function tvload() {
  CurrTvshow(fetcid).then((dat) => {
    let trailerHtml = Trailerfunc(fetcid);
    Trailer_section.innerHTML = trailerHtml;
    let htm = "";
    console.log(dat);
    htm = html2(dat);
    movieDetails.innerHTML = htm;
    let BigPoster = Bigposter(dat);
    posterBBig.innerHTML = BigPoster;
    sectionStory.textContent = dat.overview;
    let castarr = dat.credits.cast;

    // CAST FOR TV SHOWS

    if (castarr.length == 0) {
      document.querySelector(".movie_caste_container").style.display = "none";
    } else {
      castarr.forEach((item) => {
        if (item.profile_path !== null) {
          const castehtml = Castfun(item);
          Casdiv.insertAdjacentHTML("beforeend", castehtml);
        }
      });
      const castdiv = document.querySelectorAll(".castdiv");
      castdiv.forEach(
        (ele, i) => (ele.style.transform = `TranslateX(${i * 115}%)`)
      );
    }

    // forEach to call recommendation of tv shows

    let recommarr = dat.recommendations.results;
    if (dat.recommendations.results.length == 0) {
      document.getElementById("recommenn").style.display = "none";
    } else {
      recommarr.forEach((item) => {
        const html3 = recommTvshowFun(item);
        recommendationMoviesDiv.insertAdjacentHTML("beforeend", html3);
      });

      const recommenMovies = document.querySelectorAll(".recommenMovies");
      recommenMovies.forEach(
        (ele, i) => (ele.style.transform = `TranslateX(${i * 115}%)`)
      );
    }

    // function to get similar to tv shows

    let similararr = dat.similar.results;
    similararr.forEach((item) => {
      const htmll = simimarTvshowfun(item);
      SimilarMoviesDiv.insertAdjacentHTML("beforeend", htmll);
    });
    const similarMovies = document.querySelectorAll(".similarMovies");
    similarMovies.forEach(
      (ele, i) => (ele.style.transform = `TranslateX(${i * 115}%)`)
    );
  });
}
tvload();

const recommTvshowFun = (mov) => {
  let url = "{% url 'movien-TvShowsDetails' %}?id=" + encodeURIComponent(mov.id);
  return `<div class="Now_playing_movies recommenMovies" >
    <a class="posterlink" href="${url}"> <img class="poster" data-id="${
    mov.id
  }" src="https://image.tmdb.org/t/p/w500/${mov.poster_path}" loading="lazy"
  onerror="this.onerror=null;this.src='./resources/D moviesand tv show.png';"
  alt="${mov.name}"></a>
         <p class="movie_title">${mov.name}</p>
         <div class="date_rating">
             <p class="date recommendTvShow_date">${dateFormatter(
               mov.first_air_date
             )}</p><span class="dot dot2 recommendTvShow_date_dot"></span>
             <p class="rating recommendTvShow_date">${averagVoteformat(
               mov.vote_average
             )}<span><svg xmlns="http://www.w3.org/2000/svg" width="10"
                         height="10" fill="Yellow" class="star bi-star-fill" viewBox="0 0 16 16">
                         <path
                             d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                     </svg></span></p>
             <div class="category recommendTvShow_category">TV Show</div>
             </div>
         </div>`;
};

const simimarTvshowfun = (movie) => {
  let url = "{% url 'movien-TvShowsDetails' %}?id=" + encodeURIComponent(movie.id);
  return `<div class="Now_playing_movies similarMovies" >
    <a class="posterlink" href="${url}"> <img class="poster" data-id="${
    movie.id
  }" src="https://image.tmdb.org/t/p/w500/${movie.poster_path}" loading="lazy" 
  onerror="this.onerror=null;this.src='./resources/D moviesand tv show.png';"
  alt="${movie.name}"></a>
         <p class="movie_title">${movie.name}</p>
         <div class="date_rating">
             <p class="date recommendTvShow_date">${dateFormatter(
               movie.first_air_date
             )}</p><span class="dot dot2 recommendTvShow_date_dot"></span>
             <p class="rating recommendTvShow_date">${averagVoteformat(
               movie.vote_average
             )}<span><svg xmlns="http://www.w3.org/2000/svg" width="10"
                         height="10" fill="Yellow" class="star bi-star-fill" viewBox="0 0 16 16">
                         <path
                             d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                     </svg></span></p>
             <div class="category recommendTvShow_category">TV Show</div>
             </div>
         </div>`;
};

searchbox.addEventListener("click", function () {
  location.replace("{% url 'movien-search2' %}");
});

    </script>
</body>

</html>